services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - app-network

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_MONGODB_URI=mongodb://mongodb:27017/contactdb
    depends_on:
      - mongodb
    networks:
      - app-network

networks:
  app-network:
    driver: bridge